# Core files
/core/*
/Gruntfile.js
/index.js

# Content
/content/data/*
/content/images/*

# Node Files
node_modules/
/package.json
npm-debug.log
npm-shrinkwrap.json

# Configurations
/config.js
/config.example.js

# -- Readmes
/LICENSE
/PRIVACY.md
/README.md

# -- Misc files
.DS_Store
*.log
