
.fontello-github:before { content: '\e800'; } /* '' */
.fontello-twitter:before { content: '\e801'; } /* '' */
.fontello-linkedin:before { content: '\e802'; } /* '' */
.fontello-stackoverflow:before { content: '\e803'; } /* '' */