<div class="social-nav">
    <a class="social-icon" href="https://github.com/vutran/" target="_blank"><span class="fontello-github">&nbsp;</span></a>
    <a class="social-icon" href="https://twitter.com/tranvu/" target="_blank"><span class="fontello-twitter">&nbsp;</span></a>
    <a class="social-icon" href="https://www.linkedin.com/in/trandev/" target="_blank"><span class="fontello-linkedin">&nbsp;</span></a>
    <a class="social-icon" href="http://stackoverflow.com/users/2593947/vutran" target="_blank"><span class="fontello-stackoverflow">&nbsp;</span></a>
</div>
